<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col-sm-6 my-1">
        <p class="m-0">Made with &#9829; by Rohit Sharma</p>
      </div>
     
    </div>
  </div>
</footer>

<!-- [Page Specific JS] start -->
<script src="/admin/js/plugins/apexcharts.min.js"></script>
<script src="/admin/js/plugins/jsvectormap.min.js"></script>
<script src="/admin/js/plugins/world.js"></script>
<script src="/admin/js/plugins/world-merc.js"></script>
<script src="/admin/js/pages/dashboard-default.js"></script>
<!-- [Page Specific JS] end -->
<!-- Required Js -->
<script src="/admin/js/plugins/popper.min.js"></script>
<script src="/admin/js/plugins/simplebar.min.js"></script>
<script src="/admin/js/plugins/bootstrap.min.js"></script>
<script src="/admin/js/fonts/custom-font.js"></script>
<script src="/admin/js/pcoded.js"></script>
<script src="/admin/js/plugins/feather.min.js"></script>





<script>layout_change('light');</script>




<script>layout_sidebar_change('light');</script>



<script>change_box_container('false');</script>


<script>layout_caption_change('true');</script>




<script>layout_rtl_change('false');</script>


<script>preset_change("preset-1");</script>

</body>


</html>
